$fondo: #f0f2f5;
$fondo-barra: #f6f7fa;
$principal: #c9605e;
$palabras-barra: #7e919c;
$letra-boton: white;
$fondo-visitanos: #1e4855;
$formato-sombra: 0 0 20px rgba(0, 0, 0, 0.25);
$formato-sombra-barra: 0 0 20px rgba(65, 29, 29, 0.1);
$sombra-seccion: #d0d4d8;
$pagina-actual: #ebeff3;
$letra-carta: #4f4f4f;
$carta-form: white;
$fondo-btnCita: #d2d5df;
$letra-pedirCita: #292727;
$separador-cuenta: #d4e3e7;
